allow-dnsupdate-from={{ pdns_allow_ddns_update_from }}
experimental-api-key={{ pdns_api_key }}
experimental-dnsupdate={{ pdns_allow_ddns_update }}
experimental-json-interface={{ pdns_json_interface }}
gmysql-dbname={{ pdns_gmysql_dbname }}
gmysql-host={{ pdns_gmysql_host }}
gmysql-password={{ pdns_gmysql_password }}
gmysql-user={{ pdns_gmysql_user }}
launch=gmysql
recursor={{ pdns_recursor_server_ip }}
webserver-address={{ pdns_webserver_address }}
webserver-password={{ pdns_webserver_password }}
webserver-port={{ pdns_webserver_port }}
webserver={{ pdns_webserver }}
